In [2]:
import numpy as np
import pandas as pd
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sns.set(style="whitegrid", palette="pastel", color_codes=True)
sns.mpl.rc("figure", figsize=(10,6))

In [4]:
%matplotlib inline

In [5]:
shp_path = "India-shp/3e11a5e.shp"
sf = shp.Reader(shp_path)

In [6]:
def read_shapefile(sf):
    """
    Read a shapefile into a Pandas dataframe with a 'coords' 
    column holding the geometry information. This uses the pyshp
    package
    """
    fields = [x[0] for x in sf.fields][1:]
    records = sf.records()
    shps = [s.points for s in sf.shapes()]
    df = pd.DataFrame(columns=fields, data=records)
    df = df.assign(coords=shps)
    return df

In [7]:
df = read_shapefile(sf)
df.shape

(36, 9)

In [8]:
df.head()

,OBJECTID,TOT_P,State_UT,State_Code,State_Name,Area,Shape__Are,Shape__Len,coords
0,1,10086292,STATE,05,Uttarakhand,53483,7.136755e+10,1.975339e+06,"[(79.99732, 28.71083), (79.9868700000001, 28.7..."
1,2,6864602,STATE,02,Himachal Pradesh,55673,7.762950e+10,1.896926e+06,"[(77.5812500000001, 30.37703), (77.58121000000..."
2,3,12541302,STATE,01,Jammu & Kashmir,222236,3.302232e+11,4.043259e+06,"[(75.5289100000001, 32.29276), (75.52848000000..."
3,4,243247,UNION TERRITORY,25,Daman & Diu,111,1.626153e+08,9.794282e+04,"[(72.7782300000001, 20.33765), (72.77949000000..."
4,5,60439692,STATE,24,Gujarat,196244,2.197981e+11,5.028878e+06,"[(73.2218, 20.1289100000001), (73.220390000000..."

In [10]:
df.iloc[:,-1]

0     [(79.99732, 28.71083), (79.9868700000001, 28.7...
1     [(77.5812500000001, 30.37703), (77.58121000000...
2     [(75.5289100000001, 32.29276), (75.52848000000...
3     [(72.7782300000001, 20.33765), (72.77949000000...
4     [(73.2218, 20.1289100000001), (73.220390000000...
5     [(73.1788000000001, 20.05497), (73.17707000000...
6     [(76.38284, 21.07755), (76.3814100000001, 21.0...
7     [(78.3863000000001, 12.62472), (78.38043, 12.6...
8     [(77.09636, 8.29054000000002), (77.08656000000...
9     [(72.0388, 11.10547), (72.0377500000001, 11.10...
10    [(88.4383800000001, 27.0814300000001), (88.438...
11    [(88.5349100000001, 21.5432900000001), (88.532...
12    [(85.90925, 21.97126), (85.90824, 21.97124), (...
13    [(84.5007000000001, 24.2872400000001), (84.500...
14    [(77.1752300000001, 28.4044700000001), (77.175...
15    [(76.9184300000001, 27.6533200000001), (76.916...
16    [(76.8105100000001, 30.6564900000001), (76.810...
17    [(75.2497500000001, 29.5492600000001), (75.248...
18    [(76.84753, 11.5835700000001), (76.84705000000...
19    [(74.0259, 15.6038600000001), (74.022060000000...
20    [(74.0918, 14.89966), (74.0917700000001, 14.89...
21    [(92.7875000000001, 12.31294), (92.78685000000...
22    [(79.80685, 11.83633), (79.80598, 11.83644), (...
23    [(92.93012, 22.00607), (92.9283500000001, 22.0...
24    [(94.14408, 23.8347000000001), (94.14414000000...
25    [(93.5910700000001, 25.1877200000001), (93.590...
26    [(95.4346400000001, 26.71551), (95.43423000000...
27    [(92.5062, 24.1634700000001), (92.505100000000...
28    [(91.6241800000001, 22.9514), (91.623600000000...
29    [(92.4006600000001, 25.0358600000001), (92.400...
30    [(81.5630800000001, 17.8254200000001), (81.562...
31    [(81.08221, 17.7943500000001), (81.07826000000...
32    [(73.9762600000001, 30.1780600000001), (73.974...
33    [(77.5564000000001, 8.07809000000004), (77.556...
34    [(77.59333, 30.40241), (77.59488, 30.402370000...
35    [(78.1310100000001, 15.83995), (78.12679000000...
Name: coords, dtype: object